// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  //background: linear-gradient(to bottom, #{fade-out($brown, .2)} 0%,#{fade-out($brown, .2)} 100%), url('../img/bg/bg-home-1.jpg');
  background: linear-gradient(to bottom, #0000001c 0%, #0000001c 100%), url(../img/bg/bg-home-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  h1 {
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 3.5rem;
    }
  }
}

.bg-home{
  // 991.98px and down
  @media (max-width: 1024px) {
      margin-top: 70px;
  }
  // 767px and down
  @include media-breakpoint-down(sm) {
      margin-top: 70px;
  }
  // 575px and down
  @include media-breakpoint-down(xs) {
      margin-top: 75px !important;
  }
}
